*.swp
*.swo
*.ll
*.o
*.skel.h
/ipx_wrap_if_config
/ipx_wrap_ifd
/ipx_wrap_ripd
/ipx_wrap_sapd
/ipx_wrap_pongd
/ipx_wrap_mux
/ipxcat
/ipxdiag
/spxinetd
/ipxping
/spxtcp
/vmlinux.h
/vmlinux.btf
/mux_sk_tests
