*.swp
*.swo
*.ll
*.o
*.skel.h
/ipx_wrap_if_config
/ipx_wrap_ripd
/ipx_wrap_sapd
/ipx_wrap_mux
/ipx_wrap_tx_client
/ipx_wrap_rx_client
/ipx_wrap_spx_client
/ipx_wrap_spx_server
/ipxcat
/vmlinux.h
/vmlinux.btf
/mux_sk_tests
